.az-button {
  /**
   * Base styles
   */
  @include fontsize(eta);

  position: relative;
  display: inline-flex;
  width: auto;
  height: 1.5 * $space;
  padding: 0 1rem;
  margin: 0;
  font-weight: $content-font-bold;
  line-height: 1;
  color: var(--color-gray2);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: transparent;
  border-radius: $border-radius;
  outline: none;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  transition: 0.3s ease-in-out;

  /**
   * Types
   * Types + Plain
   * Types + Ghost
   */
  @include buttonType(default);
  @include buttonType(brand);
  @include buttonType(success);
  @include buttonType(warning);
  @include buttonType(danger);

  /**
   * Focus
   */
  &:focus,
  &.focus {
    outline: 0;
  }

  /**
   * Icon
   */
  &--icon-left {
    flex-direction: row;
    align-content: center;

    .az-icon + span {
      margin-left: halve($space);
    }
  }

  &--icon-right {
    flex-direction: row-reverse;
    align-content: center;

    .az-icon + span {
      margin-right: halve($space);
    }
  }

  &--icon-top {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0.5rem 1rem;

    .az-icon + span {
      margin-top: quarter($space);
    }
  }

  &--icon-bottom {
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
    padding: 0.5rem 1rem;

    .az-icon + span {
      margin-bottom: quarter($space);
    }
  }

  /**
   * Shape styles
   */
  &--square {
    border-radius: 0;
  }

  &--circle {
    border-radius: 50px;
  }

  /**
   * Disabled styles
   */
  &:disabled:not(&--loading),
  &--disabled:not(&--loading) {
    cursor: default;
    opacity: 0.6;
  }

  /**
   * Block styles
   */
  &--block {
    display: block;
    width: 100%;
    margin-bottom: $space;
  }

  /**
   * Sizes styles
   */
  &--large {
    @include fontsize(zeta);

    height: double($space);
    padding: 0 2rem;
    line-height: 1;

    .az-loading {
      top: 1rem !important;
    }
  }

  &--small {
    @include fontsize(theta);

    height: $space;
    line-height: 1;

    .az-loading {
      top: 0.35rem !important;
    }
  }

  /**
   * Loading
   */
  &--loading {
    .az-loading {
      font-size: 0.8em;
    }

    .az-loading + span {
      margin-left: halve($space);
    }
  }

  &--loadingIconOnly {
    .az-loading {
      position: absolute;
      left: 0;
      width: 100%;
    }
    .az-loading + span {
      margin-left: 0;
      opacity: 0;
    }
  }
}
