@mixin buttonType($type) {
  &--#{$type} {
    color: color(white);
    // text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-image: radial-gradient(circle at 0% 0%, color(#{$type}-light), color(#{$type}));
    background-size: 1px 200%;

    @include hover {
      background-position: 100px;
    }

    .az-loading {
      --color-az-loading: color(white) !important;
    }
  }

  &--#{$type}#{&}--plain {
    text-shadow: none;
    background-color: color(#{$type});
    background-image: none;

    @include hover {
      background-color: color(#{$type}-dark);
    }

    .az-loading {
      --color-az-loading: color(white) !important;
    }
  }

  &--#{$type}#{&}--ghost {
    color: color(#{$type});
    text-shadow: none;
    background-color: transparent;
    background-image: none;
    border: 1px solid;
    border-color: color(#{$type}-lighter);

    @include hover {
      color: color(#{$type}-darker);
      border-color: color(#{$type}-light);
    }

    .az-loading {
      --color-az-loading: color(#{$type}) !important;
    }
  }
}
