/**
 * COLORS SETTINGS
 */
:root {
  // brand
  --color-brand-darker: hsl(190, 90%, 25%);
  --color-brand-dark: hsl(190, 70%, 35%);
  --color-brand: hsl(190, 65%, 45%);
  --color-brand-light: hsl(190, 65%, 60%);
  --color-brand-lighter: hsl(190, 60%, 75%);
  --color-brand-a20: hsla(190, 65%, 45%, 0.2);

  // accent
  --color-accent-darker: hsl(39, 100%, 35%);
  --color-accent-dark: hsl(41, 100%, 45%);
  --color-accent: hsl(41, 100%, 60%);
  --color-accent-light: hsl(41, 100%, 70%);
  --color-accent-lighter: hsl(41, 100%, 80%);
  --color-accent-a20: hsla(41, 100%, 60%, 0.2);

  // feedback success
  --color-success-darker: hsl(94, 80%, 30%);
  --color-success-dark: hsl(94, 67%, 41%);
  --color-success: hsl(94, 52%, 52%);
  --color-success-light: hsl(94, 66%, 65%);
  --color-success-lighter: hsl(94, 70%, 77%);
  --color-success-a20: hsla(94, 52%, 52%, 0.2);

  // feedback error
  --color-error-darker: hsl(6, 100%, 30%);
  --color-error-dark: hsl(6, 100%, 45%);
  --color-error: hsl(6, 100%, 60%);
  --color-error-light: hsl(6, 100%, 70%);
  --color-error-lighter: hsl(6, 100%, 80%);
  --color-error-a20: hsla(6, 100%, 60%, 0.2);

  // feedback warning
  --color-warning-darker: hsl(51, 100%, 41%);
  --color-warning-dark: hsl(51, 100%, 50%);
  --color-warning: hsl(51, 100%, 60%);
  --color-warning-light: hsl(51, 100%, 67%);
  --color-warning-lighter: hsl(51, 100%, 76%);
  --color-warning-a20: hsla(51, 100%, 60%, 0.2);

  // semantic
  --color-content: var(--color-gray2);
  --color-heading: var(--color-gray1);
  --color-background: var(--color-gray8);
  --color-link: var(--color-brand);
  --color-link-hover: var(--color-brand-darker);
  --color-border: var(--color-gray6);
}

/**
 * LIGHT THEME
 */
:root,
[data-theme='light'] {
  // gray scale
  --color-gray1: hsl(196, 25%, 12%);
  --color-gray2: hsl(198, 17%, 28%);
  --color-gray3: hsl(200, 5%, 46%);
  --color-gray4: hsl(198, 7%, 64%);
  --color-gray5: hsl(202, 13%, 83%);
  --color-gray6: hsl(206, 17%, 92%);
  --color-gray7: hsl(220, 18%, 97%);
  --color-gray8: hsl(0, 0%, 100%);
}

/**
 * DARK THEME
 */
[data-theme='dark'] {
  // gray scale
  --color-gray1: #f5f6f8;
  --color-gray2: #e7ebee;
  --color-gray3: #cfd6da;
  --color-gray4: #9da6aa;
  --color-gray5: #6f777b;
  --color-gray6: #3b4c53;
  --color-gray7: #172226;
  --color-gray8: #000000;
}
