/**
 * LIGHT THEME
 */
:root,
[data-theme='light'] {
  // gray scale
  --color-gray1: hsl(196, 25%, 12%);
  --color-gray2: hsl(198, 17%, 28%);
  --color-gray3: hsl(200, 5%, 46%);
  --color-gray4: hsl(198, 7%, 64%);
  --color-gray5: hsl(202, 13%, 83%);
  --color-gray6: hsl(206, 17%, 92%);
  --color-gray7: hsl(220, 18%, 97%);
  --color-gray8: hsl(0, 0%, 100%);
}

/**
 * DARK THEME
 */
[data-theme='dark'] {
  // gray scale
  --color-gray1: #f5f6f8;
  --color-gray2: #e7ebee;
  --color-gray3: #cfd6da;
  --color-gray4: #9da6aa;
  --color-gray5: #6f777b;
  --color-gray6: #3b4c53;
  --color-gray7: #172226;
  --color-gray8: #000000;
}

/**
 * COLORS SETTINGS
 */
:root {
  // brand
  --color-brand-darker: hsl(190, 90%, 25%);
  --color-brand-dark: hsl(190, 70%, 35%);
  --color-brand: hsl(190, 65%, 45%);
  --color-brand-light: hsl(190, 65%, 65%);
  --color-brand-lighter: hsl(190, 60%, 85%);
  --color-brand-a20: hsla(190, 65%, 45%, 0.2);

  // feedback warning
  --color-warning-darker: hsl(39, 100%, 35%);
  --color-warning-dark: hsl(41, 100%, 45%);
  --color-warning: hsl(41, 100%, 60%);
  --color-warning-light: hsl(41, 100%, 75%);
  --color-warning-lighter: hsl(41, 100%, 90%);
  --color-warning-a20: hsla(41, 100%, 60%, 0.2);

  // feedback success
  --color-success-darker: hsl(94, 80%, 30%);
  --color-success-dark: hsl(94, 67%, 41%);
  --color-success: hsl(94, 52%, 50%);
  --color-success-light: hsl(94, 66%, 70%);
  --color-success-lighter: hsl(94, 70%, 90%);
  --color-success-a20: hsla(94, 52%, 52%, 0.2);

  // feedback danger
  --color-danger-darker: hsl(6, 100%, 30%);
  --color-danger-dark: hsl(6, 100%, 45%);
  --color-danger: hsl(6, 100%, 60%);
  --color-danger-light: hsl(6, 100%, 75%);
  --color-danger-lighter: hsl(6, 100%, 90%);
  --color-danger-a20: hsla(6, 100%, 60%, 0.2);

  // default
  --color-default-darker: var(--color-gray2);
  --color-default-dark: var(--color-gray3);
  --color-default: var(--color-gray4);
  --color-default-light: var(--color-gray5);
  --color-default-lighter: var(--color-gray6);
  --color-default-a20: var(--color-gray6);

  // semantic
  --color-content: var(--color-gray2);
  --color-heading: var(--color-gray1);
  --color-background: var(--color-gray8);
  --color-link: var(--color-brand);
  --color-link-hover: var(--color-brand-darker);
  --color-border: var(--color-gray6);
}
