/**
 * Z-INDEX OF LAYERS
 */
$layer-negative-z-index: -1;
$layer-page-z-index: 1;
$layer-aside-z-index: 5;
$layer-header-z-index: 5;
$layer-dropdown-z-index: 10;
$layer-modal-z-index: 15;
$layer-popover-z-index: 20;
$layer-tooltip-z-index: 25;
