/**
 * RESPONSIVE SETTINGS
 */

/**
 * Breakpoints
 *
 * Existen 5 tamaños de pantalla definidos:
 *   palm  - Móviles
 *   lap   - Tablet verticales y Móviles horizontales
 *   small - Tablet horizontales
 *   desk  - Portátiles y monitores pequeños
 *   large - Monitores grandes
 */
$palm: 600px;
$lap: 900px;
$small: 1200px;
$desk: 1600px;

/**
 * Mobile First
 *
 * Indica si se trata de un diseño siguiendo el enfoque Mobile First
 */
$mobile-first: false;
