.az-fieldset {
  $rootClass: &;

  margin-bottom: simple();
}

@include media(palm) {
  .az-fieldset {
    &__content {
      border-top: 1px solid color(border);
      border-bottom: 1px solid color(border);
    }

    &__title {
      padding: quarter() half();
    }
  }
}
