.az-cell {
  $rootClass: &;

  position: relative;
  font-size: font-size(base);
  line-height: simple();
  color: color(content);

  &__title {
    flex: none;
    overflow: hidden;
    line-height: simple();
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__value {
    position: relative;
    flex: 1;
    // overflow: hidden;
    color: color(gray4);
    vertical-align: middle;
  }

  &__label {
    font-size: font-size(small1);
    color: color(gray4);
  }

  &__body {
    display: flex;
    align-items: center;
  }

  &__left-icon,
  &__right-icon,
  &__link-icon {
    svg {
      width: simple();
      height: simple();
      padding: 0 0.1rem 0.1rem;
      margin: 0;
      color: color(gray4);
    }
  }

  &__left-icon {
    margin-right: 0.2rem;
    margin-left: quarter('-');

    svg {
      color: color(content);
    }
  }

  &__right-icon {
    margin-right: quarter('-');
    margin-left: 0.2rem;
  }

  &__link-icon {
    min-width: simple();
    margin-right: quarter('-');
    margin-left: 0.2rem;
    text-align: center;

    svg {
      color: color(brand);
    }
  }

  &--link {
    cursor: pointer;

    &:active {
      background-color: color(gray7);
    }
  }
}

@include media(palm) {
  .az-cell {
    display: flex;
    width: 100%;
    padding: half() half();
    overflow: hidden;
    background-color: #ffffff;

    &:not(:last-child)::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: quarter();
      pointer-events: none;
      content: ' ';
      border-bottom: 1px solid color(border);
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}
