.az-input {
  $rootClass: &;

  position: relative;
  font-size: font-size(base);
  line-height: simple();
  color: color(content);

  &__label {
    flex: none;
    overflow: hidden;
    line-height: simple();
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__value {
    position: relative;
    flex: 1;
    // overflow: hidden;
    vertical-align: middle;
  }

  &__body {
    display: flex;
    align-items: center;
  }

  &__control {
    display: block;
    width: 100%;
    margin: 0;
    color: color(content);
    text-align: left;
    resize: none;
    background-color: transparent;
  }

  &__left-icon,
  &__right-icon,
  &__password,
  &__clear {
    cursor: pointer;

    svg {
      width: simple();
      height: simple();
      padding: 0 0.1rem 0.1rem;
      margin: 0;
      color: color(gray4);
    }
  }

  &__left-icon {
    margin-left: quarter('-');

    svg {
      color: color(content);
    }
  }

  &__right-icon {
    margin-right: quarter('-');

    svg {
      color: color(brand);
    }
  }

  &__password {
    margin-right: quarter('-');
    svg {
      color: color(gray5);
    }
  }

  &__clear {
    margin-right: quarter();

    svg {
      padding: 0.3rem;
      color: color(gray5);
    }
  }

  &__error-message {
    font-size: font-size(small1);
    color: color(danger);
  }

  &__info-message {
    font-size: font-size(small1);
    color: color(gray4);
  }

  &--required {
    label::before {
      position: absolute;
      left: quarter();
      font-size: font-size(small1);
      color: color(danger);
      content: '*';
    }
  }

  &--error {
    [class$='input__control'] {
      color: color(danger);

      &::placeholder {
        color: color(danger);
      }
    }
  }
}

@include media(palm) {
  .az-input {
    display: flex;
    width: 100%;
    padding: half() half();
    overflow: hidden;
    background-color: #ffffff;

    &__control {
      height: auto;
      padding: 0;
      line-height: simple();
      border: 0;
    }

    &:not(:last-child)::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: quarter();
      pointer-events: none;
      content: ' ';
      border-bottom: 1px solid color(border);
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}
