/**
 * TYPE MIXIN
 */

//
// Listado de tamaños de fuente base por tamaño de pantalla
//

$root-sizes: (
  'palm': $root-font-size-palm,
  'lap': $root-font-size-lap,
  'small': $root-font-size-small,
  'desk': $root-font-size-desk,
  'large': $root-font-size-large,
) !default;

//
// Listado de familias tipográficas
//

$font-families: (
  'base': $font-family-base,
  'heading': $font-family-heading,
  'monospace': $font-family-monospace,
) !default;

//
// Listado de pesos tipográficos
//

$font-weights: (
  'extralight': $font-weight-extralight,
  'light': $font-weight-light,
  'normal': $font-weight-normal,
  'semibold': $font-weight-semibold,
  'bold': $font-weight-bold,
  'black': $font-weight-black,
) !default;

/**
 * ROOTSIZE
 *
 * Genera los tamaños de fuente por defecto en %, por cada breakpoint.
 * Ejemplo de uso.
 *
 * body {
 *   @include rootsize;
 * }
 */
@mixin rootsize {
  $base-breakpoints: desk;

  // Compruebo si es mobile first
  @if ($mobile-first) {
    $base-breakpoints: palm;
  }

  // Si existe tiene el breakpoint base
  @if map-has-key($root-sizes, $base-breakpoints) {
    font-size: #{map-get($root-sizes, $base-breakpoints) / 16px * 100%};
  }

  // Recorre todos los breakpoint.
  @each $breakpoint, $size in $root-sizes {
    @if $breakpoint != $base-breakpoints {
      @include media($breakpoint) {
        font-size: #{$size / 16px * 100%};
      }
    }
  }
}

//
// Tamaño de fuente
//
// Admite un valor númerico o un alias de la escala modular.
//

@function font-size($size) {
  // Tipo de la variable $fontsize
  $font-value: type-of($size);

  // Si el valor del $size es un número
  @if $font-value == number {
    @return #{$size / 16}rem;
  }

  // Si el valor del $size no es un número y es el alias de la escala modular
  @else {
    @if map-has-key($styles-sizes, $size) {
      $level: map-get($styles-sizes, $size);
      $module: pow($modular-scale, $level);

      @return #{$module}rem;
    }
  }
}

//
// Altura de línea
//
// Admite un valor númerico o un alias de la escala modular.
//

@function line-height($height) {
  // Tipo de la variable $height
  $font-value: type-of($height);

  // Si el valor del $height es un número
  @if $font-value == number {
    @return #{ceil($height / ($space * 16)) * $space}rem;
  }

  // Si el valor del $height no es un número y es el alias de la escala modular
  @else {
    @if map-has-key($styles-sizes, $height) {
      $level: map-get($styles-sizes, $height);
      $module: pow($modular-scale, $level);

      @return #{ceil(($module * 2.5) / $space) * ($space / 2)}rem;
    }
  }
}

//
// Peso tipográfico
//
// Devuele el valor del peso seleccionado
//
// .header { font-weight: font-weight(bold); }
//

@function font-weight($weight) {
  @return map_get($font-weights, $weight);
}

//
// Familia tipográfica
//
// Devuele el valor de la familia seleccionada
//
// .header { font-family: font-family(heading); }
//

@function font-family($family) {
  @return map_get($font-families, $family);
}
