/**
 * FORM
 */

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

label,
textarea,
input[type='file'] {
  display: block;
}

input {
  cursor: pointer;
}

input,
input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='url'],
textarea {
  height: double();
  padding: 0 simple();
  line-height: double();
  border: 1px solid color(border);

  &:focus {
    border-color: color(brand);
    outline: none;
  }

  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    color: color(gray3);
    opacity: 1;
  }

  &[disabled],
  &[readonly] {
    cursor: not-allowed;
    background-color: color(gray5);
  }
}

input[type='radio'],
input[type='checkbox'] {
  position: relative;
  bottom: 1px;
  margin-right: halve();
  vertical-align: middle;
}

input[disabled] {
  background-color: color(gray5);

  @include hover {
    cursor: not-allowed;
  }
}
