/**
 * TYPE
 */
$type-transparent-color: rgba(0, 0, 0, 0);

//
// Cabeceras
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font-family(heading);
  font-style: normal;
  font-weight: $font-weight-heading;
  color: color(heading);
}

h1 {
  font-size: font-size(alpha);
  line-height: line-height(alpha);
}

h2 {
  font-size: font-size(beta);
  line-height: line-height(beta);
}

h3 {
  font-size: font-size(gamma);
  line-height: line-height(gamma);
}

h4 {
  font-size: font-size(delta);
  line-height: line-height(delta);
}

h5 {
  font-size: font-size(epsilon);
  line-height: line-height(epsilon);
}

h6 {
  font-size: font-size(zeta);
  line-height: line-height(zeta);
}

// Parrafos
p {
  font-size: font-size(zeta);
}

// Bold.
b,
strong {
  font-weight: font-weight(bold);
}

// Italic.
em,
i {
  font-style: italic;
}

// Texto en linea pequeño.
small,
.small {
  font-family: font-family(heading);
  font-size: font-size(eta);
  font-style: normal;
  font-weight: font-weight(normal);
  line-height: line-height(eta);
}

// Texto resaltado
mark,
.mark {
  padding: quarter();
  color: color(mark);
  background-color: color(mark-background);
}

// Caption
.caption {
  font-family: font-family(base);
  font-size: font-size(epsilon);
  font-style: italic;
  color: color(caption);
}

h1 + .caption,
.font-size-alpha + .caption {
  margin-top: halve();
  margin-bottom: simple();
  font-size: font-size(delta);
  font-style: normal;
  line-height: line-height(epsilon);
}

h2 + .caption,
.font-size-beta + .caption {
  margin-top: halve();
  margin-bottom: simple();
  font-size: font-size(epsilon);
  font-style: normal;
  line-height: line-height(zeta);
}

h3 + .caption,
.font-size-gamma + .caption {
  margin-bottom: halve();
  font-size: font-size(zeta);
  font-style: normal;
  line-height: line-height(zeta);
}

// Abbreviations
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 0;
}

// Quotes.
blockquote,
.blockquote {
  font-size: font-size(epsilon);
  line-height: line-height(epsilon);

  p {
    font-size: font-size(epsilon);
    line-height: line-height(epsilon);
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  > footer,
  > .footer {
    display: block;
    font-size: font-size(eta);
    font-style: italic;
    color: color(gray3);

    &::before {
      content: '\2014 \00A0'; // em dash, nbsp
    }
  }
}

// Horizontal rule.
hr {
  padding-top: double();
  padding-bottom: double();
  margin: 0;
  background-image: linear-gradient(to bottom, $type-transparent-color 50%, color(border) 50%);
  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: 100% 0.15rem;
  border: 0;
}

// Ritmo vertical
p,
h1,
h2,
h3,
ul,
ol,
dl,
table,
blockquote,
pre {
  margin-bottom: simple();
}
